html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Raleway ", sans-serif;
}

/* cover-page */
.container-fluid {
  background-color: #caf0f8;
  padding: 12rem 0 16rem 15rem;
}

.typing{display: inline-block;}

.typing h1{
  color: #0f121d;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid;
  /*-- Call text and cursor animation --*/
  animation: write 1s steps(15, end), cursor 0.7s step-end infinite;
}

/*-- Write text as Animated --*/
@keyframes write {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

/*-- Animated blink cursor CSS--*/
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff9800;
  }
}

#profile-img {
  position: absolute;
  right: 0px;
  top: 250px;
  left: 800px;
  bottom: 0px;
  border-radius: 50%;
  -webkit-animation: fadeInLeft 1000ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInLeft 1000ms ease-in-out;
}

.container-fluid h3 {
  font-size: 2.5rem;
  -webkit-animation: fadeInRight 1000ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInRight 1000ms ease-in-out;
}

/* social */
.connect {
  margin: 1rem 0 0 0;
}

.connect h4 {
  font-size: 2rem;
  font-weight: 500;
  -webkit-animation: fadeInRight 1000ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInRight 1000ms ease-in-out;
}

.btn-group {
  font-size: 2rem;
  align-content: center;
  -webkit-animation: fadeInUp 1000ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInUp 1000ms ease-in-out;
}

.social {
  margin-right: 2rem;
}

i {
  background-color: #fff;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translatex(40px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translatex(-40px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

/* skills */

.skills {
  background-color: #0f121d;
  text-align: center;
  padding: 10rem 0 20rem 0;
}

.creative {
  margin-top: 15rem;
}

.technical {
  margin-top: 20rem;
}

.extra {
  margin-top: 20rem;
}

.skill-img-div1 {
  font-size: 2rem;
  color: #fff;
}
.skill-img-div2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: #fff;
}

.skill-content-div {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  display: inline-block;
}

.skill-content-div p {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
  line-height: 3.5rem;
}

.project-link a {
  color: inherit;
  line-height: 0.8rem;
}

.skills h1 {
  display: inline-block;
  /* margin: 0 0 4rem 1rem; */
  color: #fff;
}

.skills h3 {
  width: 100%;
  margin-bottom: 12rem;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #caf0f8;
  letter-spacing: 1.6rem;
  line-height: 8rem;
}

.extra p {
  margin-top: 10rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.3rem;
}

#photoshop-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3rem 3rem 0 0;
  border-radius: 50%;
  height: 8.4rem;
  width: 8.4rem;
}

#illustrator-img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3rem 3rem 0 0;
  height: 8.4rem;
  width: 8.4rem;
}

#mern-img {
  margin-top: 3rem;
  height: 15rem;
  width: 25rem;
  border-radius: 50%;
}

ul:before {
  color: #fff;
  content: attr(aria-label);
  font-weight: bold;
}

/* footer */
.footer {
  padding: 6rem 0 2rem 0;
  text-align: center;
  background-color: #a2aebb;
}

.footer .col-lg-6 {
  margin-bottom: 6rem;
}
.footer .col-lg-6 .btn-group {
  margin-left: 15rem;
}
.footer p {
  font-size: 1.5rem;
  font-weight: 300;
}
.footer h1 {
  margin-left: 2rem;
  font-size: 3.5rem;
  letter-spacing: 1.2rem;
}
.footer h6 {
  margin-top: 3rem;
}

/* FadeInSection*/
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  body {
    text-align: center;
  }

  .typing h1{
    display: inline-block;
    font-size: 2.8rem;
  }

  #profile-img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:2.5rem;
    left: .8rem;
    right: 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    -webkit-animation: fadeInLeft 1000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInLeft 1000ms ease-in-out;
  }
  .container-fluid {
    padding: 12rem 0 10rem 0;
  }
  .container-fluid h3 {
    margin-top: 3rem;
    font-size: 2.5rem;
    -webkit-animation: fadeInRight 1000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInRight 1000ms ease-in-out;
  }

  /* social */
  .connect {
    margin: 1rem 0 0 0;
  }

  .connect h4 {
    font-size: 2rem;
    font-weight: 500;
    -webkit-animation: fadeInRight 1000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInRight 1000ms ease-in-out;
  }

  .btn-group {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    align-content: center;
    -webkit-animation: fadeInUp 1000ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInUp 1000ms ease-in-out;
  }

  .social {
    margin-right: 2rem;
  }

  /* skills */
  .skills {
    background-color: #0f121d;
    padding: 7rem 0 18rem 0;
  }

  .creative {
    margin-top: 12rem;
  }

  .technical {
    margin-top: 18rem;
  }

  .extra {
    margin-top: 18rem;
  }
  .skill-img-div1 {
    font-size: 1.6rem;
    color: #fff;
    height: 384px;
  }
  .skill-img-div2 {
    font-size: 1.5rem;
    color: #fff;
    height: 384px;
  }

  .skill-content-div {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }

  .skill-content-div p {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    line-height: 3.1rem;
  }

  .skills h3 {
    margin-left: .5rem;
    margin-bottom: 8rem;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: #caf0f8;
    letter-spacing: 1.1rem;
    line-height: 4rem;
  }

  #mern-img {
    width: 15rem;
    height: 10rem;
    margin-bottom: 5rem;
  }

  #photoshop-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3rem 2rem 0 0;
    border-radius: 50%;
    height: 8.4rem;
    width: 8.4rem;
  }

  #illustrator-img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3rem 0 0 2rem;
    height: 8.4rem;
    width: 8.4rem;
  }

  .footer .col-lg-6 {
    margin-bottom: 3rem;
  }

  .footer .col-lg-6 .btn-group {
    margin-left: 1rem;
  }
 
.footer {
  padding: 6rem 0 0.8rem 0;
  text-align: center;
  background-color: #a2aebb;
}
.footer p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.footer h1 {
  margin-left: 0;
  font-size: 3.5rem;
  letter-spacing: 1.2rem;
}
.footer h6{
  margin-top: 8rem;
  font-weight: 300;
}
}
